@import url(../reindeer/legacy-styles.css);

.licence {
	font-style: italic;
	font-size: 9px;
	line-height: 10px;	
}
.v-orderedlayout-margin-top,
.v-horizontallayout-margin-top,
.v-verticallayout-margin-top {
	padding-top: 5px;
}
.v-orderedlayout-margin-right,
.v-horizontallayout-margin-right,
.v-verticallayout-margin-right {
	padding-right: 5px;
}
.v-orderedlayout-margin-bottom,
.v-horizontallayout-margin-bottom,
.v-verticallayout-margin-bottom {
	padding-bottom: 5px;
}
.v-orderedlayout-margin-left,
.v-horizontallayout-margin-left,
.v-verticallayout-margin-left {
	padding-left: 5px;
}
.v-orderedlayout-spacing-on,
.v-horizontallayout-spacing-on,
.v-verticallayout-spacing-on {
	padding-top: 3px;
	padding-left: 3px;
}